# TODO Expamnd on generative AI
# TODO decide whether to split this somehow

# Activity 1: Introduction to Python and NumPy
## What is this?

Welcome to MATH 4242!
In these activities, we'll be exploring the material from class with hands-on computational activities.
One goal is to teach the usage of three key tools in concert with each other:

- **Python:** Python 3 is the programming language we'll be using for the semester.
Python is very versatile, and can be used in a great variety of ways for many different purposes.
Some of these purposes common today include data science and machine learning, in part motivating the decision to use it for MATH 4242.
Python is highly *extensible* meaning that in addition to the functionality offered by "base" Python, there are a great many *libraries* made by Python developers around the world which add additional features.
One of these libraries in particular will be highly relevant to us:
- **NumPy:**  NumPy (**Num**erical **Py**thon) is a Python library which adds better support for numerical computations, particularly in linear algebra.
NumPy provides the `ndarray` data type which will be our primary method of modeling matrices and vectors, as well as an extensive selection of tools for manipulating them.

- **jupyter:** Jupyter is the platform you're using right now!
Jupyter provides *notebooks,* which are the environment this is appearing in.
A notebook is comprised of *cells* which may contain *markdown* or code.
*Markdown* is a way of creating formatted text.
This cell is an example of markdown.

### How to use these notebooks
These activities are intended to be truly **interactive**.
Some example code will be provided, but whether in the context of an exercise or an example, you will be asked to fill many of the code cells. Especially in examples, you are invited and encouraged to discuss strategy and technique with your classmates and TA.
Crucially, you are **strongly encouraged** never to run code without at least attempting to understand what it will do (or at least, not to move on to the next thing until you have understood the previous).
Some very helpful tools are at your disposal to that end:

- You can always add an additional code cell to a notebook to experiment!
You are encouraged to do this frequently!
- You can read the documentation for various function by using the `help` function. For instance, here is how we can get more information about the `abs` function:
    ```Python
    help(abs)
    ```
    This returns: 
    ```
    Help on built-in function abs in module builtins:

    abs(x, /)
        Return the absolute value of the argument.
    ```
    You can also find documentation for all NumPy functions and objects on the [NumPy website](https://numpy.org/doc/2.1/) and all Python functions and objects on the [Python website](https://docs.python.org/3/).
- Google and other search engines such as duckduckgo are your friend! When stuck, a good way to get going is to simply search "NumPy [quick description of what you are stuck with]."
Often, the most helpful results are from the [Stack Exchange](https://stackexchange.com/) family of websites.
You are **strongly discouraged** from using generative AI to answer questions.
Using generative AI to complete any exercise is unambiguously academic dishonesty.
Please do not do it.

Each time you are asked to provide code, there will be a *test* for your code below the relevant code cell. 
Usually, there will be a comment in that cell with the desired output.
If your output matches that comment, you know that your code at least works in that instance!
Sometimes no desired output is provided. In that case, it is because there are theoretical methods to anticipate what the output should be from lecture or the textbook.
If you don't know what the test should output, discuss with a classmate or your TA!
Whether a test is provided or not, you are very much encouraged to write your own!

To try out getting help, in the code cell below, use the `help` function to bring up help on the Python built-in `max` function.

In [ ]:
help(max)

##  Python: variables, numbers, objects, types, strings, lists
This is intended as a very quick introduction. 
You are encouraged to seek out more resources to gain more familiarity and comfort with the language.
For example, [this](https://www.w3schools.com/python/python_intro.asp) is a free tutorial which goes in significantly more depth.

### Variables, Numbers, and Booleans

One of the most basic features of the python language are *variables*.
These are names which in general reference *data types*.
We'll see examples of more complex types later, but let's start with some simple ones, such as numerical types.
The below example makes use of the `print` function, which as you'll see provides information about its argument to output.
**To evaluate a jupyter cell, hit shift-enter after selecting that cell.**

In [94]:
a=9
b=3
print(a+b) # addition
print(a*b) # multiplication
print(a-b) # subtraction

12
27
6

Much of Python's syntax is quite intuitive, but there are a few quirks to get used to.

In [95]:
print(a^b) # surprise! was that what you expected?
print(a**b) # what do these last two do?

10
729

As you've now seen, exponentiation was handled differently than you may have expected.
`^` is reserved for *bitwise xor*, while **exponentiation is represented with `**`.**
<details> 
    <summary> 
        <b>
            More on ``^``
        </b> 
        (Click to expand)
    </summary>

We won't be using `^` during the course of these activities (at least unless you happen to find creative ways of doing so) 
-  bullet   
</details>
One other subtlety comes about in division.
Try out the following example.

In [ ]:
print(a//b) # what is this?
print(a/b)  # how about this?

You try! With $a=8$ and $b=3$,

Every object in Python has a *type*.
You can check types using the `type` function.
For example, try checking the type of `a` and `a/b` below.

In [ ]:
type(a)

In [ ]:
type(a/b)

Note they are different!
The `int` type is used to represent whole numbers, while the `float` type is used to represent decimals.
In our applications, we will be primarily working with `float`s. 
For the most part, we'll be able to sidestep these subtleties, but there will be cases in which some care will be necessary.

Another highly fundamental type is that of the boolean, implemented in Python as the `bool` type.
There are two tokens belonging to the type: `True` and `False`.
There are some very common functions of booleans which are built-in to Python: `and` and `or`, and the operator `not`.

In [136]:
A=False
B=True
print(A and B)
print(A or B)
print(not B)
print((not A) and B)

False
True
False
True

One place where `bool`s very frequently come up is comparison:
- `==` checks for equality
- `>` and `<` check for greater and less than respectively
- `>=` and `<=` check for greater than or equal to and less than or equal to respectively.

In [143]:
#what do you expect this to print?
a=5
b=6
c=5/6
print(a>b)
print(a<b)
print(a/b > c)
print(a/b >=c)
print(a/b==c)

False
True
False
True
True

### Strings and Lists

Another object which will come up for us are `string`s.
These are a mode of storing text.
Take a look at the example below. 
Try to come up with a way to print "Hello world!!!" 20 times, with a space in between each instance.

In [61]:
a= "Hello"
b= " "
c= "World"
d= "!"
print(a+b+c+d)
print(a*15)

Hello World!
HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello

Strings behave similarly to another important data type, that of the `list`.
To form a `list`, simply put a sequence of values, separated by commas, into square brackets `[]`.
For example, here is a list of some strings

In [62]:
A=[a+b+c+d,a+2*b+3*c+4*d,d+2*c+3*b+4*a,a+d+c+d+a+d,5*(a+d+b),3*(c+d+b)]
A

['Hello World!',
 'Hello  WorldWorldWorld!!!!',
 '!WorldWorld   HelloHelloHelloHello',
 'Hello!World!Hello!',
 'Hello! Hello! Hello! Hello! Hello! ',
 'World! World! World! ']

Lists are *indexed* with square brackets as well.
This is, in essence, a means of calling elements of a list or a range within.
Here's an example using the previous list:

In [63]:
print(A[0])     #lists are always indexed starting at 0
print(A[5])     #our list has six elements, so 5 is the last one (since we started at 0)
print(A[-1])    #negative indexing starts at the end with -1 (so this is the same as A[5])
print(A[1:3])   #gives list items 1 and 2 (in general, it includes the part before the colon, but not the part after)
print(A[2:])    #start at item 2 (inclusive) until the end
print(A[:3])    #start at the beginning and end at item 3 (exclusive)

Hello World!
World! World! World!
World! World! World!
['Hello  WorldWorldWorld!!!!', '!WorldWorld   HelloHelloHelloHello']
['!WorldWorld   HelloHelloHelloHello', 'Hello!World!Hello!', 'Hello! Hello! Hello! Hello! Hello! ', 'World! World! World! ']
['Hello World!', 'Hello  WorldWorldWorld!!!!', '!WorldWorld   HelloHelloHelloHello']

**You try!** print the list that starts at the beginning and ends after item 3 (`'Hello!World!Hello!'`). Then, print the list that starts at item 4 and goes until the end.

In [64]:
#SOLUTION
print(A[:4])

['Hello World!', 'Hello  WorldWorldWorld!!!!', '!WorldWorld   HelloHelloHelloHello', 'Hello!World!Hello!']

The same indexing works on strings:

In [65]:
f=5*(a+b+c+d)
print(f[6:25])
print(f[6:25:2]) #The third digit tells us to increment by that many as we go from item to item
print(f[24:5:-1]) #it accepts negative arguments

World!Hello World!H
WrdHloWrdH
H!dlroW olleH!dlroW

Now **you try!** How would you print starting six characters from the end and ending on the sixth character, incrementing backwards and skipping every other letter?

In [66]:
#SOLUTION: 
print(f[-6:5:-2])
#desired output:
#WolHdrWolHdrWolHdrWolHdrW

WolHdrWolHdrWolHdrWolHdrW

We'll be revisiting lists in greater detail soon once we start working with NumPy!
## Control Sequences: Conditionals, Loops, Iteration, and Functions
### If and Else

Control sequences let us structure our code into blocks and provide a logical flow to our programs.
Perhaps the most basic of these is the conditionals `if` and `else`.
The basic syntax for these is:
```python
    if x:
        y
    else:
        z
```
Here, `x` is a `bool` and `y` and `z` are ensuing code (which can be multi-line).
As an example, play around with the following by changing the value of `num` in the first line.

In [114]:
num = 3
if num % 2 ==0:       #the % symbol is the remainder-- i.e. if num has a remainder of 0 after being divided by 2
    print("even")
else:
    print("odd")

odd

### Loops
Often, we'll want to automate repetitive tasks.
Python supplies *loops* for this purpose.
For instance, suppose I have a recursive function given by the formula $a_n=(1-2a_{n-1})/3$ and wanted to know what $a_10$ would be if I started with $a_0=1$.
The following loop does just that:

In [55]:
a=1
for n in range(10):   #This says I am letting n=0, performing the code below it, then letting n=1, then n=2, etc. through n=9.
    #It is exclusive of the argument (so range(10) is 0,1,2,...,9, *not* including 10).
    #Notice the colon at the end! You will get an error without one!
    #each new line in the loop must start with a tab
    print("a_",n,"=",a) #check in on current value--think through why the indexing makes sense!
    a=(1-2*a)/3         #find a_n from a_{n-1}
a   #this is outside of the loop because it doesn't start with a tab

a_ 0 = 1
a_ 1 = -0.3333333333333333
a_ 2 = 0.5555555555555555
a_ 3 = -0.03703703703703698
a_ 4 = 0.35802469135802467
a_ 5 = 0.09465020576131689
a_ 6 = 0.27023319615912206
a_ 7 = 0.15317786922725196
a_ 8 = 0.23121475384849868
a_ 9 = 0.1791901641010009

0.21387322393266608

Note that in the line `a=(1-2*a)/3`, we referenced the value of the variable we were changing! 

#### Exercise 1: Looping to Compute Recursive Sequences
**Exercise: (a):** Alter the above to compute the 15th term of the recursive sequence $b_n=(1+2b_{n-1})/4$ starting with $b_0=2$.
To check that your code is working as intended, here's the first few terms:
```
b_ 0 = 2
b_ 1 = 1.25
b_ 2 = 0.875
b_ 3 = 0.6875
```

In [102]:
#SOLUTION
b=2
for n in range(15):   
    print("b_",n,"=",b)
    b=(1+2*b)/4         #find b_n from b_{n-1}
b

b_ 0 = 2
b_ 1 = 1.25
b_ 2 = 0.875
b_ 3 = 0.6875
b_ 4 = 0.59375
b_ 5 = 0.546875
b_ 6 = 0.5234375
b_ 7 = 0.51171875
b_ 8 = 0.505859375
b_ 9 = 0.5029296875
b_ 10 = 0.50146484375
b_ 11 = 0.500732421875
b_ 12 = 0.5003662109375
b_ 13 = 0.50018310546875
b_ 14 = 0.500091552734375

0.5000457763671875

**(b)** Consider the *two-variable* recursion given by $c_n=\frac{(c_{n-1}+d_{n-1})}{2c_{n-1}d_{n-1}}$ , $d_n=\frac{c_{n-1}^2}{c_{n-1}+d_{n-1}}$. Find $c_{20}$ and $d_{20}$ when $c_0=d_0=1$. Like before, print out $c_n$ and $d_n$ for each $n$.

To check your sequence is working, here are the first few terms:
```
c_ 0 = 1 ; d_ 0 = 1
c_ 1 = 1.0 ; d_ 1 = 0.5
c_ 2 = 1.5 ; d_ 2 = 0.6666666666666666
c_ 3 = 1.0833333333333333 ; d_ 3 = 1.0384615384615385
```

<details>
    <summary> <b> Hint:</b> (click here to open)</summary>

- if you copy the method of the above exactly, you may find yourself overwriting variables you need to store. Introducing a new variable (say, "`a_last`") is one way out of that pickle.    
</details>

In [57]:
##SOLUTION:
c=1
d=1
for n in range(20):
    print("c_",n,"=",c,"; d_",n,"=",d)
    c_last=c
    #b_last=b #Not necessary!
    c=((c+d))/(2*(c*d))
    d=c_last**2/(c_last+d)
print(c,d)

c_ 0 = 1 ; d_ 0 = 1
c_ 1 = 1.0 ; d_ 1 = 0.5
c_ 2 = 1.5 ; d_ 2 = 0.6666666666666666
c_ 3 = 1.0833333333333333 ; d_ 3 = 1.0384615384615385
c_ 4 = 0.9430199430199431 ; d_ 4 = 0.5531218529707955
c_ 5 = 1.4341714257426015 ; d_ 5 = 0.5943865850926616
c_ 6 = 1.1898367305135804 ; d_ 6 = 1.0139457030216528
c_ 7 = 0.9133487750796235 ; d_ 7 = 0.6424007305513414
c_ 8 = 1.3257663726112152 ; d_ 8 = 0.5362084203916363
c_ 9 = 1.3096135889479223 ; d_ 9 = 0.9439743660074392
c_ 10 = 0.9114674067046931 ; d_ 10 = 0.7610476212325291
c_ 11 = 1.2055550785810731 ; d_ 11 = 0.49672069883258557
c_ 12 = 1.4213486094540662 ; d_ 12 = 0.8537764954282406
c_ 13 = 0.9374119458389393 ; d_ 13 = 0.8879651783814829
c_ 14 = 1.0964685746942768 ; d_ 14 = 0.4814025247395588
c_ 15 = 1.4946412817662986 ; d_ 15 = 0.7619401456326073
c_ 16 = 0.9907479534770298 ; d_ 16 = 0.9899720586351785
c_ 17 = 1.0097339829277991 ; d_ 17 = 0.4955680264330645
c_ 18 = 1.504123146401427 ; d_ 18 = 0.6773143926859788
c_ 19 = 1.0706292095844487 ; d_ 19 = 1.03710805329177
0.9491249353898374 0.543828172801411

### Functions

Sometimes, we'll want to perform the same process to a variety of different inputs.
As a first example, one classic example is the factorial $n!$.
Below is a somewhat nonstandard implementation of the factorial--in a moment, we'll explain why we say this is nonstandard.

In [96]:
def my_factorial(n):
    #
    #once again, the colon is necessary and everything within the function will start with a tab
    prod=1                  #initialize
    for k in range(1,n+1):  #This syntax means start at 1 and stop at n+1, excluding n+1 (so k=1,2,...,n)
        print(k)            #strictly unnecessary, for illustrative purposes
        prod=prod*(k) 
    return prod

In [112]:
my_factorial(0) #check this works correctly for n=0

1

In [97]:
my_factorial(5)

1
2
3
4
5

120

**Your turn** find 8! with `my_factorial`.

In [100]:
###SOLUTION
my_factorial(8)

1
2
3
4
5
6
7
8

40320

Functions can take more than just one argument as input.
For instance, we can alter our code from the example above to compute $a_N$ for any $N$ and any value for $a_0$, rather than just $N=10$ and $a_0=1$.

In [101]:
def a_N(N,a_0):  #This says our function takes two arguments, N and a_0
    a=a_0         #generalizing from above--a is the variable we'll work with, a_0 is supplied by argument
    for n in range(N): # generalizing from above
        #now, we need two tabs to place code in the loop.
        print("a_",n,"=",a)
        a=(1-2*a)/3
    return a      #every function has to end with a return line
a_N(20,3)  #This finds a_20 with a_0=3. 
           #the value at the bottom is what is computed in the line starting with "return"

a_ 0 = 3
a_ 1 = -1.6666666666666667
a_ 2 = 1.4444444444444446
a_ 3 = -0.6296296296296298
a_ 4 = 0.7530864197530865
a_ 5 = -0.16872427983539104
a_ 6 = 0.4458161865569274
a_ 7 = 0.036122542295381734
a_ 8 = 0.3092516384697455
a_ 9 = 0.12716557435350298
a_ 10 = 0.24855628376433136
a_ 11 = 0.16762914415711241
a_ 12 = 0.22158057056192507
a_ 13 = 0.18561295295871663
a_ 14 = 0.20959136469418893
a_ 15 = 0.1936057568705407
a_ 16 = 0.20426282875297286
a_ 17 = 0.19715811416468476
a_ 18 = 0.20189459055687684
a_ 19 = 0.19873693962874875

0.20084204024750085

#### Exercise 2(a): Functions of your own!
**(a)** Similar to above, return to your code from exercise 1(a) and generalize it to a function `b_N` which take arguments `N` and `b_0` and returns the `N`th term of the recursive sequence defined by $b_n=(1+2b_{n-1})/4$ where $b_0$ is given by the argument `b_0`. 
Once again, your function should print the current value of $b_n$ at each $n$.
To make sure your function is correct, you are given that when $b_0=10000$, $b_23=0.501192033290863$.

In [107]:
###SOLUTION
def b_N(N,b_0):
    b=b_0                    #initialize at argument supplied by user.
    for n in range(N):
        print("b_",n,"=",b)
        b=(1+2*b)/4         #find b_n from b_{n-1}
    return b
b_N(23,10**4)

b_ 0 = 10000
b_ 1 = 5000.25
b_ 2 = 2500.375
b_ 3 = 1250.4375
b_ 4 = 625.46875
b_ 5 = 312.984375
b_ 6 = 156.7421875
b_ 7 = 78.62109375
b_ 8 = 39.560546875
b_ 9 = 20.0302734375
b_ 10 = 10.26513671875
b_ 11 = 5.382568359375
b_ 12 = 2.9412841796875
b_ 13 = 1.72064208984375
b_ 14 = 1.110321044921875
b_ 15 = 0.8051605224609375
b_ 16 = 0.6525802612304688
b_ 17 = 0.5762901306152344
b_ 18 = 0.5381450653076172
b_ 19 = 0.5190725326538086
b_ 20 = 0.5095362663269043
b_ 21 = 0.5047681331634521
b_ 22 = 0.5023840665817261

0.501192033290863

We can write a function which performs the same using *recursion*.
This is a function which calls itself to compute.
This is best illustrated with a classic example.
Recall that the factorial $n!$ is defined as $n*(n-1)*\dots *2*1$ with the convention that $0!=1$.
Equivalently, $n!$ can be defined as $n*(n-1)!$ along with the declaration $0!=1$.
The following uses this latter definition to define the factorial in Python.
This is the much more commonly seen method of defining the factorial.

In [108]:
def my_factorial_recursive(n):
    if n==0:
        print(n)
        return 1
    else:
        print(n)
        return n*my_factorial_recursive(n-1)

In [109]:
my_factorial(15)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

1307674368000

In [110]:
my_factorial_recursive(15)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

1307674368000

We can also give a recursive definition of `a_N`.

In [126]:
def recursive_a_N(N,a_0):
    if N==0:
        return a_0
    else:
        #print("a_",N-1,"=", recursive_a_N(N-1,a_0)) #what do you think will happen if we un-comment this?
        return (1-2*recursive_a_N(N-1,a_0))/3

In [128]:
recursive_a_N(15,1)

0.1981730733915831

In [127]:
a_N(15,1)  #check this was what we were expecting

a_ 0 = 1
a_ 1 = -0.3333333333333333
a_ 2 = 0.5555555555555555
a_ 3 = -0.03703703703703698
a_ 4 = 0.35802469135802467
a_ 5 = 0.09465020576131689
a_ 6 = 0.27023319615912206
a_ 7 = 0.15317786922725196
a_ 8 = 0.23121475384849868
a_ 9 = 0.1791901641010009
a_ 10 = 0.21387322393266608
a_ 11 = 0.1907511840448893
a_ 12 = 0.2061658773034071
a_ 13 = 0.19588941513106195
a_ 14 = 0.20274038991262536

0.1981730733915831

#### Exercise 2(b): Recursive Functions for Recursive Sequences
Below, give a recursive version of `b_N`.
You no longer need include any `print` statements.
Be sure to check your `recursive_b_N` against the original `b_N`.

In [132]:
###SOLUTION
def recursive_b_N(N,b_0):
    if N==0:
        return b_0
    else:
        return (1+2*recursive_b_N(N-1,b_0))/4 
b_N(10,10), recursive_b_N(10,10)

b_ 0 = 10
b_ 1 = 5.25
b_ 2 = 2.875
b_ 3 = 1.6875
b_ 4 = 1.09375
b_ 5 = 0.796875
b_ 6 = 0.6484375
b_ 7 = 0.57421875
b_ 8 = 0.537109375
b_ 9 = 0.5185546875

(0.50927734375, 0.50927734375)

## Introducing NumPy
The very first thing to do with any library we utilize is to *import* it into the current project:

In [35]:
import numpy as np

This allows us to use the library's functions and objects.
To see a list of these, type `np.` into a cell and hit the "Tab" key--this will bring up the sublibraries and functions available.
The basic object offered by `numpy` is the `ndarray`. 
One can instantiate an `ndarray` with the `np.array` function, as below.
`np.array` takes a list as input.
For a multidimensional array (such as a matrix), we use a list of lists, with each inner list representing a row.

In certain applications, `ndarray`s with `int` entries can have unexpected behavior. 
To prevent this, we'll explicitly *declare* the type as `float64` when calling `np.array`--you are encouraged to get in the habit of including the `"float64"` at the end, as below.

In [39]:
A=np.array([[1,2],[3,4]],"float64")
type(A)

numpy.ndarray

Every `ndarray` has a `shape`, giving its dimensions.

In [40]:
A.shape #what do you expect it to be?

(2, 2)

In [53]:
v=np.array([1,-3],"float64")
v.shape

(2,)

One can also use syntax similar to that of for loops to construct `ndarray`s. 
This will be a crucial tool for us.

In [52]:
w=np.array([k**2 for k in range(5)],"float64")
w

array([ 0.,  1.,  4.,  9., 16.])

In [51]:
B=np.array([[i-j/2 for j in range(5)] for i in range(2)],"float64")
B

array([[ 0. , -0.5, -1. , -1.5, -2. ],
       [ 1. ,  0.5,  0. , -0.5, -1. ]])

Indexing is similar to before, but now we can supply multiple index arguments.

In [49]:
B[1] #the 1-indexed row

array([ 1. ,  0.5,  0. , -0.5, -1. ])

In [50]:
print(B[1][2]) #the 2-indexed entry of the 1-indexed row\
print(B[1,2]) #this is exactly the same

0.0
0.0